/* ------------------------------------------ */
/* HEADER BLOCK
/* ------------------------------------------ */
.header {
	.container-fluid {
		padding: 0;
	}

	@media (min-width: @screen-lg) {
		background-color: @color__white;
	}

	.header__container {
		@media (max-width: @screen-lg) {
			width: 100%;
		}
	}
}

.header__logo {
	height: auto;

	@media (max-width: @screen-lg) {
		float: right;

		width: 100%;

		img {
			margin: 0 auto;
		}
	}
}

.navbar {
	margin: 0;

	@media (max-width: @screen-lg) {
		padding: 0;
	}
}

.header__main-menu {
	margin-top: 0;

	box-shadow: 0 0 15px 0 #8c8c8c;

	& > li {
		padding: 0;

		& > a {
			padding: 15px;

			letter-spacing: 0.1em;
			text-transform: uppercase;

			color: @color__text;

			font-size: 16px;
			font-weight: normal;
			line-height: 18px;


			&:hover {
				text-decoration: none;

				color: @color__green;
				background: none;
			}

			@media (min-width: @screen-lg) {
				padding: 0;
			}
		}

		@media (min-width: @screen-lg) {
			padding: 15px;
		}
	}

	.active {
		& > a {
			color: @color__green;
		}
	}

	@media (min-width: @screen-lg) {
		padding: 15px 15px 15px 140px;

		box-shadow: none;
	}
}

.header__products-menu {
	padding: 0 15px;

	& > li {
		padding: 0;

		& > a {
			display: block;

			padding: 15px;

			color: @color__text;

			font-size: 16px;
			line-height: 18px;

			&:hover {
				text-decoration: none;

				color: @color__green;
				background: none;
			}

			@media (min-width: @screen-sm) {
				padding: 0;
			}
		}

		@media (min-width: @screen-sm) {
			padding: 15px;
		}
	}

	.active {
		& > a {
			color: @color__green;
		}
	}
}

.header__sub-menu {
	display: none;

	min-width: 160px;
	padding: 15px 0;

	li {
		a {
			text-transform: uppercase;

			color: #bbbbbb;

			font-size: 16px;
			line-height: 18px;

			&:hover {
				text-decoration: none;

				color: @color__green;
				background-color: transparent;
			}
		}
	}
	.header__search--active {
		a {
			padding: 0;

			color: @color__green;
			background-color: transparent;
		}
	}

	@media (min-width: @screen-lg) {
		display: block;
	}
}

.header__navbar {
	width: 100%;

	@media (max-width: @screen-lg) {
		.navbar-toggle {
			float: left;

			min-width: 70px;
			height: 50px;
			margin: 0;
			padding: 9px 23px;

			border-radius: 0;

			.icon-bar {
				background-color: @color__green;
			}

			&--active {
				background-color: @color__green;

				.icon-bar {
					background-color: @color__white;

					&:nth-child(1) {
						margin: -1px auto;

						transform: rotate(45deg);
					}
					&:nth-child(2) {
						display: none;
					}
					&:nth-child(3) {
						margin: -2px auto;

						transform: rotate(-45deg);
					}
				}
			}
		}

		.header__mobile {
			float: left;

			height: 50px;
			padding: 16px 0;

			font-size: 18px;
			line-height: 1;

			a {
				position: absolute;
				left: 50%;

				transform: translateX(-50%);
				text-align: center;
				white-space: nowrap;
				text-decoration: none;

				color: @color__green;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.header__language {
			float: right;

			min-width: 50px;
			height: 50px;

			.dropdown-toggle {
				height: 50px;
				padding: 14px 0;

				text-align: center;

				color: @color__dark-grey;
				border-radius: 0;
			}
			.dropdown-menu {
				right: 0;
				left: auto;

				min-width: 60px;
			}
		}
	}
}

.navbar-collapse {
	width: 100%;
	margin: 0 !important;

	background-color: @color__white;
}

.header__search {
	position: absolute !important;
	right: 15px;

	display: block;

	width: 50%;
	padding: 30px 0 0;

	transition: all 1s ease-in-out;

	font-size: 0;
	line-height: 0;
}

.header__search-block {
	position: relative;

	.header__search-input-icon {
		position: absolute;
		top: 3px;
		left: -24px;

		color: @color__green;

		font-size: 16px;
	}

	.header__search-close-icon {
		position: absolute;
		top: 4px;
		right: 6px;

		color: @color__green;

		font-size: 16px;
	}

	.header__search-input {
		width: 100%;
		height: 24px;
		padding: 8px;

		color: @color__text;
		border: 1px solid @color__green;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;

		font-size: 13px;
		line-height: 1;

		&:focus {
			outline: none;
		}
	}

	.header__search-output {
		width: 100%;
		padding: 8px;

		color: @color__text;
		border: 1px solid @color__green;
		border-top: 0;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;

		font-size: 13px;
		line-height: 1;
	}
}

.header__search-result {
	display: block;

	width: 100%;

	a {
		display: block;

		width: 100%;
		padding: 3px 0;

		text-align: left;
		text-transform: none;

		color: @color__dark-grey;

		&:hover {
			padding-left: 20px;

			text-decoration: none;

			color: @color__green;
		}
	}
}
