/* ------------------------------------------ */
/* MAP BLOCK
/* ------------------------------------------ */
.map {
	color: @color__white;
	background-color: @color__technology-bg;

	h1 {
		margin: 0;

		text-align: left;

		color: @color__white;

		font-size: 16px;
		font-weight: bold;
		line-height: 30px;
	}

	.map__row {
		margin: 0;

		@media (max-width: @screen-sm) {
			flex-direction: column;
		}
	}
	.map__col {
		padding: 0;
	}

	.map__aside {
		padding: 100px 30px;

		background-color: @color__map-aside;
	}
}

.map__city-slider {
	position: relative;

	.map__arrow {
		position: absolute;
		top: 50%;

		display: block;

		width: 30px;
		height: 35px;

		transform: translateY(-50%);

		background: #1f2225;

		svg {
			display: block;

			max-width: 10px;
			margin: 5px auto 0;
		}

		&--left {
			left: -30px;
		}

		&--right {
			right: -30px;

			transform: translateY(-50%) rotate(180deg);
		}
	}
}

/* ------------------------------------------ */
/* MAP BLOCK
/* ------------------------------------------ */
.vmap {
	width: 100%;
	height: 100%;
	min-height: 400px;

	line-height: 0;

	-webkit-tap-highlight-color: rgba(0,0,0,0);

	&:hover {
		cursor: default;
	}

	@media (min-width: @screen-md) {
		min-height: 700px;
	}
}

.jqvmap-region {
	cursor: default !important;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
	position: absolute;
	left: 10px;

	width: 14px;
	height: 14px;
	padding: 3px;

	cursor: pointer;
	text-align: center;

	color: white;
	border-radius: 3px;
	background: #000000;

	line-height: 10px;
}

.jqvmap-zoomin {
	top: 10px;
}

.jqvmap-zoomout {
	top: 30px;
}

.map-pin {
	position: absolute;

	display: block;

	margin-top: -50%;

	text-align: center;

	color: #dddddd;

	font-size: 14px;
	font-style: italic;

	lmargin-eft: -50%;

	span {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;

		text-align: center;
		pointer-events: none;
	}

	&--marker {
		&:hover {
			cursor: pointer;
		}

		&:before {
			display: block;

			width: 26px;
			height: 37px;

			content: "";

			background: url("../img/map/map__pin.svg") no-repeat;
		}
	}
}
