/* ------------------------------------------ */
/* PROMO BLOCK
/* ------------------------------------------ */
.promo {
	position: relative;

	padding-top: 100px;
	padding-bottom: 100px;

	text-align: center;

	background: url(../img/promo/promo__bg.jpg) no-repeat center top;
	background-size: cover;

	@media (min-width: @screen-md) {
		padding-top: 370px;
		padding-bottom: 80px;
	}

	@media (min-width: @screen-lg) {
		background: url(../img/promo/promo__bg.jpg) no-repeat center center;
		background-size: 100% auto;
	}
}

.promo__text {
	h1 {
		color: @color__white;

		@media (min-width: @screen-sm) {
			margin-bottom: 30px;

			line-height: 1;
		}
	}

	p {
		color: @color__white;

		font-size: 16px;
		line-height: 22px;

		@media (min-width: @screen-md) {
			margin-bottom: 60px;
		}
	}

	a {
		display: block;

		padding: 8px 20px;

		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;

		color: @color__green;
		border: 3px solid @color__green;
		border-radius: 35px;

		font-size: 16px;
		line-height: 1;

		&:hover {
			text-decoration: none;

			color: @color__white;
			background-color: @color__green;
		}

		@media (min-width: @screen-sm) {
			display: inline;
		}
	}
}
