/* ------------------------------------------ */
/* TECHNOLOGY BLOCK
/* ------------------------------------------ */
.technology {
	position: relative;

	padding-top: 70px;
	padding-bottom: 70px;

	h1 {
		color: @color__white;
	}

	p {
		text-align: center;

		color: @color__white;

		&.text-left {
			@media (min-width: @screen-md) {
				text-align: left;
			}
		}

		@media (min-width: @screen-md) {
			margin-top: 30px;
		}
	}

	&--faces {
		background: @color__technology-bg url(../img/technology/faces/technology__bg.png) no-repeat;
		background-size: cover;

		&:before {
			position: absolute;
			top: 0;
			left: 0;

			display: block;

			width: 5px;
			height: 100%;

			content: "";

			background-image: linear-gradient(@color__technology-line__1 0%, @color__technology-line__1 25%, @color__technology-line__2 25%, @color__technology-line__2 50%, @color__technology-line__3 50%, @color__technology-line__3 75%, @color__technology-line__4 75%, @color__technology-line__4 100%);
		}
	}

	&--analysis {
		background: @color__technology-bg url(../img/technology/analysis/technology__bg.png) no-repeat;
		background-size: cover;

		&:after {
			position: absolute;
			top: 0;

			display: block;

			width: 5px;
			height: 100%;

			content: "";

			background-image: linear-gradient(@color__technology-line__1 0%, @color__technology-line__1 25%, @color__technology-line__2 25%, @color__technology-line__2 50%, @color__technology-line__3 50%, @color__technology-line__3 75%, @color__technology-line__4 75%, @color__technology-line__4 100%);
		}
	}

	&--number {
		background: @color__technology-bg url(../img/technology/number/technology__bg.png) repeat;

		&:after {
			position: absolute;
			top: 0;
			right: 0;

			display: block;

			width: 100%;
			height: 5px;

			content: "";

			background-image: linear-gradient(to left, @color__technology-line__1 0%, @color__technology-line__1 25%, @color__technology-line__2 25%, @color__technology-line__2 50%, @color__technology-line__3 50%, @color__technology-line__3 75%, @color__technology-line__4 75%, @color__technology-line__4 100%);
		}

		.technology__slider-icon-navigation {
			background: url(../img/technology/number/technology__slider-navigation--mobilebg.svg) repeat-y;
			background-position: center top;
			background-size: 40%;

			@media (min-width: @screen-lg) {
				background: url(../img/technology/number/technology__slider-navigation--bg.svg) no-repeat;
				background-size: 89px;
			}
		}
	}

	&--iconslider {
		padding: 0 15px;

		.technology__slides {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}

.technology__slider-icon-navigation {
	margin: 0;
	padding-top: 70px;
	padding-bottom: 70px;

	ul {
		position: relative;

		display: flex;
		flex-direction: column;

		margin: 0;

		@media (min-width: @screen-lg) {
			min-width: 100px;
			max-width: 100px;
		}
	}

	li {
		padding: 0;

		&.active {
			a {
				svg {
					fill: @color__green;
				}
			}
		}

		@media (min-width: @screen-md) {
			&:nth-child(even) {
				a {
					transform: translateX(15px);
				}
			}

			&:nth-child(odd) {
				a {
					transform: translateX(-15px);
				}
			}
		}

		&:first-child,
		&:last-child {
			a {
				max-width: 32px;
				margin: 0 auto;
				padding: 5px;

				transform: none;

				svg {
					fill: none;

					polyline {
						stroke: @color__green;
					}
				}

				&:hover {
					svg {
						polyline {
							stroke: @color__white;
						}
					}
				}
			}
		}
	}

	a {
		display: block;

		width: 100%;
		max-width: 54px;
		margin: 25px auto;

		font-size: 0;
		line-height: 0;

		svg {
			display: block;

			width: 100%;
			max-width: 100%;
			height: auto;

			fill: @color__technology-bg;
		}

		&:hover {
			svg {
				fill: @color__green;
			}
		}
	}
}

.technology__slider-navigation {
	margin-top: 20px;
	margin-bottom: 10px;

	ul {
		position: relative;

		display: flex;

		margin-bottom: 20px;


		&:before {
			position: absolute;
			top: 50%;

			display: block;

			width: 99%;
			height: 2px;
			margin-top: -2px;

			content: "";

			background: @color__green;
		}
	}

	li {
		width: 33%;
		padding: 0;

		a {
			display: block;

			width: 55px;
			height: 55px;
			padding: 2px 0 0;

			text-align: center;

			color: @color__green;
			border: 2px solid @color__green;
			border-radius: 50%;
			background: @color__technology-bg;

			font-family: "Open Sans", Arial, sans-serif;
			font-size: 45px;
			font-weight: 100;
			line-height: 1;

			&:hover {
				text-decoration: none;

				color: @color__technology-bg;
				background: @color__green;

				font-weight: 800;
			}
		}

		&.active {
			a {
				text-decoration: none;

				color: @color__technology-bg;
				background: @color__green;

				font-weight: 800;
			}
		}

		&:nth-child(1) {
			position: absolute;
			left: -25px;

			width: auto;

			a {
				width: auto;
				height: auto;
				padding: 0;

				border: 0;
				background: none;

				svg {
					stroke: #58595b;
				}

				&:hover {
					svg {
						stroke: @color__green;
					}
				}
			}
		}

		&:nth-child(2) {
			a {
				float: left;
			}
		}

		&:nth-child(3) {
			a {
				margin: 0 auto;
			}
		}

		&:nth-child(4) {
			a {
				float: right;
			}
		}

		&:nth-child(5) {
			position: absolute;
			right: -25px;

			width: auto;

			a {
				width: auto;
				height: auto;
				padding: 0;

				border: 0;
				background: none;

				svg {
					stroke: #58595b;
				}

				&:hover {
					svg {
						stroke: @color__green;
					}
				}
			}
		}
	}
}

.technology__slides {
	text-align: center;

	h2 {
		color: @color__green;

		font-size: 20px;
		font-weight: normal;
		font-style: italic;
		line-height: auto;

		@media (min-width: @screen-sm) {
			font-size: 30px;
		}
	}

	img {
		width: 100%;
		margin: 40px auto 0;
	}
}
